

    <div class="splash active">
        <div class="splash-icon"></div>
    </div>

    <nav class="navbar navbar-expand navbar-dark bg-dark">


        <div class="container">
            <div class="navbar-brand">
                <span>ACM Cicada | Admin</span>
            </div>
        </div>

    </nav>





    <div class="header">
        <div class="container">
            <div class="media text-white">
                <div class="media-body">
                    <h3 class="mb-1 text-white font-weight-normal"><%= name %></h3>
                </div>
            </div>
        </div>
    </div>






    <main class="content">
        <div class="container">
            <div class="row">





                <!-----------------------------------SIDEBAR----------------------------------->

                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <a class="card d-block d-md-none mt-4" data-toggle="collapse" data-target="#sidebar">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Menu</h5>
                        </div>
                    </a>

                    <nav id="sidebar" class="collapse collapse-disabled-md sidebar sidebar-sticky">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Main Navigation</h5>
                            </div>
                            <div class="sidebar-content">
                                <a href="/dashboard" class="sidebar-item">
                                    <i class="align-middle mr-1 fas fa-fw fa-user-circle"></i> <span
                                        class="align-middle">Dashboard</span>
                                </a>
                                <a href="/logout" class="sidebar-item">
                                    <i class="align-middle mr-1 fas fa-fw fa-arrow-alt-circle-right"></i> <span
                                        class="align-middle">Logout</span>
                                </a>
                            </div>
                        </div>




                        <!-- onmouseover="this.style.backgroundColor ='#5c59ed'; this.style.color='#fff';" onmouseout="this.style.backgroundColor ='#fff'; this.style.color='#495057'" -->


                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">General</h5>
                            </div>
                            <div class="sidebar-content">                                
                                <a class="sidebar-item" href="/createpuzzle"><i
                                        class="align-middle mr-1 fas fa-fw fa-plus"></i>Add Puzzle</a>
                        </div>
                        
                            <div class="sidebar-content">
                                <a class="sidebar-item" href="#settings" data-toggle="collapse">
                                    <i class="align-middle mr-1 fas fa-fw fa-cog"></i> <span
                                        class="align-middle">Settings</span>
                                </a>
                                <div class="sidebar-dropdown collapse" id="settings" data-parent="#sidebar">
                                    <a class="sidebar-item" href="/reset-password"><i
                                            class="align-middle mr-1 fas fa-fw fa-key"></i>Change Password</a>
                                    <a class="sidebar-item" href="/reset-contacts"><i
                                            class="align-middle mr-1 fas fa-fw fa-address-card"></i>Change Email</a>
                                </div>
                            </div>
                            

                        </div>

                        <% if(goBack === '1') { %>
                            
                                <a href="/profile" style="text-decoration:none; color: white;">
                                    <div class="card-header btn" style="background-color:#41d492; color: white; text-align: left;"
                                onmouseover="this.style.backgroundColor ='#5c59ed'"
                                onmouseout="this.style.backgroundColor ='#41d492'">

                                    <i class="align-middle mr-1 fas fa-fw fa-arrow-left"></i> <span
                                        class="align-middle">Go back</span>
                                    </div>
                                </a>
                         
                        <% } %>

                    </nav>
                </div>
                <!-----------------------------------SIDEBAR----------------------------------->